<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="" [routerLink]="['/dashboard']">Home</a>
                </li>
                <li>
                    <a href="" [routerLink]="['/user']">User</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a [popover]="myPopover" > Welcome
                        <strong id="setting" >{{userName}}</strong>
                    </a>
                    <popover-content *ngIf="isProfile" #myPopover popoverPlacement="right" [animation]="true" [closeOnClickOutside]="true">
                        <span>Name : </span>{{profile[0].name}}<br>
                        <span>Profession : </span>{{profile[0].profession}}                        
                    </popover-content>
                </li>
                <li>
                    <a href="" class="" (click)="Logout()">
                        <i class="glyphicon glyphicon-log-out"></i> Logout</a>
                </li>
            </ul>

        </div>
    </div>
</div>
