<div class="container cust-container">
    <div class="row">
        <div class="col-lg-12 box-shadow full-width min-top-height">
            <div class="row">
                <div class="col-lg-2">
                    <div class="info-card">
                        <strong>Total User</strong>
                        {{count}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 ">
            <div class="row">
                <div class="col-lg-12 min-hieght box-shadow max-width">
    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 min-hieght box-shadow max-width">
    
                </div>
            </div>
        </div>
    </div>
</div>
